@import "tailwindcss";

/* Global overrides */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

@theme {
  --color-strava: #fc4c02;
}
